html(ng-app="straliens")
    head
        meta(name='viewport', content='width=device-width, user-scalable=false')

        title STRALIENS - The Invasion Begins
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='all')
        link(rel="stylesheet" href="/css/game/styles.min.css")

    body(ng-controller="notifCtrl")
        .game(ng-controller="playCtrl" ng-class="side")
            nav.header(ng-hide="side == 'NEUTRE'")
                .left SCORE {{user.score}}
                //button(ng-click="shownotify()") TEST
                .right ENERGIE {{user.energy}}
            section

                ui-gmap-google-map(
                    center='map.center'
                    zoom='map.zoom'
                    options="map.options"
                    events="map.events")
                    ui-gmap-markers(
                        models="points"
                        coords="'coordinates'"
                        options="'options'"
                        icon="'icon'"
                        control="markers")

            footer(ng-hide="side == 'NEUTRE'")
                .wrapper
                    .left MSG
                    .right {{endTime}}
                    .center {{side | uppercase}}

        ui-view

// Plugins
script(src='/plugins/lodash/lodash.min.js')
script(src='/plugins/moment/moment.js')
script(src='/plugins/moment/locale/fr.js')

// Angular
script(src='/plugins/angular/angular.min.js')
script(src='/plugins/angular-google-maps/dist/angular-google-maps.min.js')
script(src='/plugins/angular-ui-router/release/angular-ui-router.min.js')
script(src='/plugins/angular-cookies/angular-cookies.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js')

script(src="/plugins/angular-qr-scanner/qr-scanner.js")
script(src="/plugins/angular-qr-scanner/src/jsqrcode-combined.min.js")

// Angular bootstrap-ui
script(src='/plugins/angular-bootstrap/ui-bootstrap.min.js')
script(src='/plugins/angular-bootstrap/ui-bootstrap-tpls.min.js')

// Straliens scripting
script(src='/plugins/angular-notify/dist/angular-notify.js')
script(src='/js/app.js')
