.game
    nav.header
        .left SCORE {{user.score}}
        .right ENERGIE {{user.energy}}
    section

        ui-gmap-google-map(
            center='map.center'
            zoom='map.zoom'
            options="map.options"
            events="map.events")
            ui-gmap-markers(
                models="points"
                coords="'coordinates'"
                icon="'icon'"
                options="'options'"
                labelContent="'id'")


    footer
        .wrapper
            .left MSG
            .right {{endTime}}
            .center {{user.team | uppercase}}
