html(ng-app="straliens")
    head
        meta(name='viewport', content='width=device-width, user-scalable=false')

        title STRALIENS - The Invasion Begins
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='all')
        link(rel="stylesheet" href="css/styles.min.css")

    body(ng-controller="appCtrl")
        .game(ng-controller="playCtrl")
            nav.header
                .left SCORE {{user.score}}
                .right ENERGIE {{user.energy}}
            section

                ui-gmap-google-map(
                center='map.center'
                zoom='map.zoom'
                options="map.options"
                events="map.events")
                    ui-gmap-markers(
                    models="points"
                    coords="'coordinates'"
                    icon="'icon'"
                    options="'options'"
                    labelContent="'id'")

            footer
                .wrapper
                    .left MSG
                    .right {{endTime}}
                    .center {{user.team | uppercase}}

        ui-view

// Plugins
script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js')

// Angular
script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.1.4/angular-google-maps.min.js')
script(src='//cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
// Angular bootstrap-ui
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js')

// Straliens scripting
script(src='js/app.js')
